@model IEnumerable<CooperaGame.Models.Partida>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantMadera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantPiedra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantComida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semilla)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantMadera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantPiedra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantComida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semilla)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
